@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-4 text-white text-sm font-semibold rounded;
  }
  .main-title {
    @apply text-3xl font-bold my-10;
  }

  .label-form {
    @apply font-bold mb-2 block text-gray-700;
  }

  .field-form {
    @apply border border-gray-300 rounded px-3 py-2 w-full mb-5 text-sm font-semibold;
  }

  .big-card {
    @apply flex flex-col border-2 border-gray-400 rounded-lg p-10 items-center mb-10 shadow-lg gap-3;
  }
}


